@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teko:wght@300..700&display=swap');
*{
    margin: 0PX;
    box-sizing: border-box;
}
:root{
    --clrdark:black;
    --clrlight:white;
    --clrprimary:red;
    
}
body{
    
    /* font-family: "Playfair Display", serif !important; */

}
.sec1{
    background-color:var(--clrprimary);
    max-width: 100%;
    height: 60px;
}
.box1{
    display: flex;
    height: 60px;
    align-items: center;
    gap: 10px;
    color: white;
    
    
}
.img1{
    height: 40px;
    width: 40px;
    padding: 2px;
    margin-bottom:9.5px ;
 
    
}

.sec2{
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 300px;
    /* max-width: auto; */
    /* display: flex;
    justify-content: space-between; */
    position: relative;
    z-index: 1;
    
}

.sec2 video{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 100%;
    object-fit: fill;

}
.overlay{
    /* position: absolute; */

}
.mynavbar {
    gap: 20px;
    list-style: none;
    color: black;

}
.box2{
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    
    
}
/* 
.box3{
    background-color: var(--clrdark);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
 
    
} */
.mynavbar a{
    text-decoration: none;
    width: 100px;
   position: sticky !important;
    color: white;

    /* position: fixed;     */


}

.home{
    font-family: "Archivo Black", sans-serif !important;

}
.sh{
}

/* .helo{
    position: fixed;
} */
.bt{
    background-color: cadetblue;
    width: 100px;
    border-radius:40px ;
    padding: 5px;
    border: solid 0px;
   
}
.box4{
    height: 600px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    color: var(--clrlight);
    flex-direction: column;
    text-align: center;

    
    
}

.mj{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.6), 0 0 15px rgba(0, 0, 0, 0.4);
    
    font-family: "Archivo Black", sans-serif !important;
    display: flex;


    
    
}
.btn{
    font-family: "Archivo Black", sans-serif !important;
}
.clock{
    width: 30px;
    height: 30px;
    object-fit: cover;
    

}
.feb{
    color: var(--clrlight);
    font-family: "Archivo Black", sans-serif !important;

}
.box5{
    /* width: 400px; */
    display: flex;
    /* gap: 10px; */
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* min-width: 250px; */

}
.box6{
    /* min-width: 250px; */
    display: flex;
    /* gap: 10px; */
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex: 2; */
}
.box7{
    display: flex;
    /* gap: 10px; */
    height: 100px;
    align-items: center;
    justify-content:center;
    text-align: center;
    /* min-width: 250px; */
    /* width: 400px; */
}

.rr{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2px 200px;

    /* align-content: center; */
    
}
.flex-col{
    /* flex: 1; */
    display: flex;
    justify-content:space-evenly;
}

.sec3{
    background-image: url(edward-unsplash-blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: auto;
    color:var(--clrlight);
    padding: 40px 0px;
 
}

.box8{
    /* padding: 60px 0px; */
    width: 100%;
    min-height: 400px;
    /* color: var(--clrlight); */
}
.box9{
    /* width: 100%; */
    /* padding: 60px 0px; */
    /* min-height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.m1{
    min-height: 400px;
    border-radius: 10px;
}



.abt{
    font-family: "Archivo Black", sans-serif !important;
 

}



.happy{
    background-color: antiquewhite;
    border-radius: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    /* margin-top: -50px; */
    
}
footer{
    background-color: var(--clrdark);
    min-height: 300px;
}

.flex-container1{

    color: var(--clrlight);
    display: flex;
    justify-content: baseline;
    /* min-height: 200px; */
    padding: 40px 40px;
    flex-wrap: wrap;

    

}
.box a{
    text-decoration: none;
    color: var(--clrlight);
    
    
    
    
}
.dote{
    list-style: none;
    display: flex;
    gap: 10px;
    /* background-color: blueviolet; */
    /* text-align: center; */
    padding:  0px;
    flex-wrap: wrap;
    /* justify-content: start; */
   
    
}
.box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    width: 333.333px;
    font-weight: lighter;
    align-items: start;
    text-align: start;


}

.link{
    color: yellow;
    display: flex;
    justify-content: start;

}
.flex-container2{
    display: flex;
    justify-content: baseline;
    align-items: start;
    /* height: 100px; */
    padding:40px 40px ;
    color: var(--clrlight);
    gap: 50px;
    font-weight: lighter;
    flex-wrap: wrap;


}
.sec4{
    min-height: auto;
    padding: 0px 0px 50px;
}

.inbox4{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Archivo Black", sans-serif !important;
    color: var(--clrdark);
}

.main{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    /* align-items: center;  */
    height: 100%;
    /* padding: 50px; */
    flex-wrap: wrap;

    
}
.inbox6{
    
    width:500px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}
.myimage{

}

.flex-container3{
    background-image: url(Anne-Marie-4250_\(cropped\).jpg);
    width:500px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 1s;
    overflow: hidden;

   

    
    
}
.flex-container3:hover{
    box-shadow:10PX 10px 10px 5px  rgba(0, 0, 0, 0.534);
    
}

.flex-container3:hover .inbox5{
    transform: translateY(0px);
    
    
}
.innerbox3{
    background-image: url(f9dc751d511c907f02808dad68cfea1341-13-billie-eilish.rsquare.w400.webp);
    height: 380px;
    width: 500px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    

    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 1s;
    overflow: hidden;
    
}
.innerbox3:hover{
    box-shadow:10PX 10px 10px 5px  rgba(0, 0, 0, 0.534);
}

.innerbox3:hover .inbox5{
    transform: translateY(0px);
    
    
}
.innerbox4{
    background-image: url(avatars-knKR7uJLpa8pTwsk-xtxWBA-t500x500.jpg);
    height: 380px;
    width: 500px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 1s;
    overflow: hidden;
    margin-top: 18px;
}

.innerbox4:hover .inbox5{
    transform: translateY(0px);

    
    
}
.innerbox4:hover{
    box-shadow:10PX 10px 10px 5px  rgba(0, 0, 0, 0.534);
}

.inbox5{
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 0, 0.596);
    border-radius: 10px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 25px;
    transform: translateY(300px);
    transition: .7s;
}


.innerbox2{
 
  width: 350px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    margin: auto;
    /* display: none; */
    
    

    
}

.innerbox2:hover{
    transform: rotate();
    
   
}

.sec5{
    background-image: url(music-7238254_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    min-height: 100px;
    padding: 30px ;
}

.inbox7{
    width: 100%;
  
    



}


.event{
    color: var(--clrlight);
    font-family: "Archivo Black", sans-serif !important;
    text-align: center;
    
    
  

}
.al{
   height: 100px;
}

th,td{
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
   

}

table{
    background-color: white;
    border-radius: 10px;
    min-width: 100%;
    margin-bottom: 80px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
}

.bnone{
    border-bottom: none !important;
    background-color: rgba(0, 0, 0, 0.893);
    
    color: white;
    text-align: center;
    padding: 50px 0px;

}
.day{
    /* padding: 0px 50px;  */
}
.gh{
    background-color: orangered;
   border-top-left-radius: 10px;
}
.hg{
    background-color: orangered;
   border-top-right-radius: 10px;
}
.mn{
    background-color: orangered;
}

.pic1{
    background-image: url(Anne-Marie-4250_\(cropped\).jpg);
    width: 350px;
    background-size: cover;
    padding: 50px 0px ;
    color: var(--clrlight);
   text-align: center;
    
}
.pic2{
    background-image: url(f9dc751d511c907f02808dad68cfea1341-13-billie-eilish.rsquare.w400.webp);
    width: 350px;
    background-size: cover;
    padding: 50px 0px ;
    color: var(--clrlight);
   text-align: center;
}
.black{
    background-color: rgba(0, 0, 0, 0.893);
    color: white;
    text-align: center;
    

}
.pic3{
   
    width: 350px;
   
    padding: 85px 0px;
    background-color: darkseagreen;
    /* height: 180px; */
    

  
}
.pic4{
    /* width: 350px; */
    background-color: darkseagreen;
   
    padding: 50px 0px ;
     
    
     
}
.pic5{
    background-image: url(avatars-knKR7uJLpa8pTwsk-xtxWBA-t500x500.jpg);
    width: 350px;
    background-size: cover;
    padding: 50px 0px ;
    color: var(--clrlight);
   text-align: center;
}
.uff{
    text-align: center;
    color: var(--clrlight)
}

.rd{
    border-radius: 0px 0px 10px 0px;

}

.dr{
    border-radius: 0px 0px 0px 10px;
}
.sec6{
    font-family: "Archivo Black", sans-serif !important;
    background-color: var(--clrprimary);
    min-height: 100px;

}

.icons{
display: flex;
height: 100px;
width: 100px;
justify-content: center;
align-items: center;
gap: 10px;


}
.twitter{
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;

}
.twitter:hover{
    transform: rotate(360deg);
    background-color: yellow;
    transition: 3s;
    border-radius: 50%;

    
    

}
.ml{
    display: flex;
height: 100px;
width: 100%;
justify-content: center;
align-items: center;
color: var(--clrlight);

}

@media (max-width:576px){
   .inbox6,.inbox5,.innerbox3,.innerbox4,.innerbox2,.box{
    width:100% !important;

    

   }
   .flex-container3,.innerbox2,.innerbox3,.innerbox4{
    /* background-size: contain; */
    background-position: center;
    padding: 0px 5px;
   }
   .sec4{
    padding: 20px;
   }

}

.sec7{
    background-color: bisque;
    min-height: 650px;
    padding: 0px 0px 60px;

}
.inbox20{
    font-family: "Archivo Black", sans-serif !important;
    text-align: center;
    margin-top: 50px;
}

.inbox21{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.google{
    margin: auto;
    max-width: 400px;
    min-height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 10px;
  background-color: rgba(255, 228, 196, 0.393);
  border-radius: 30px;
  padding: 25px;
  font-family: "Archivo Black", sans-serif !important;
  margin-top: 20px;
  

}
.google a{
    color: var(--clrdark);
    text-decoration: none;

    

    
}
li{
/* background-color: rgba(169, 169, 169, 0.785); */
    
 font-size: large;
 
 



}

  .inbox21 a:hover{
    
    /* background-color: aliceblue; */
    border-radius: 30px;
    /* color:yellow ; */
    color: yellow;
    background-color: rgb(181, 170, 170);
    border-radius: 30px;
    padding: 10px;



}
.nav-item .active{
    color: yellow;
    background-color: rgb(181, 170, 170);
    box-shadow: 0 0 2px rgba(187, 180, 180, 0.8), 0 0 10px rgba(191, 183, 183, 0.6), 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 10px;
}

.div1{
    max-width: 700px;
    height: 400px;
    background-color: var(--clrlight);
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 0 2px rgba(187, 180, 180, 0.8), 0 0 10px rgba(191, 183, 183, 0.6), 0 0 15px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
}



.sub{
   /* width:100%; */
   display: flex;
   /* padding: 20px; */
   /* height: 500px; */
   justify-content: center;
   height: 100px;
   align-items: center;
   

}

.sup{
    display: flex;
    justify-content: center;
    /* width: 50%; */
  
  
  
}


.boxone{
    background-color: white;
    height: 600px;
    max-width: 500px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
  
}

.boxtwo{
    /* font-family:normal;   */

}
.clr{
    color: #717275;
}

.ft{
    font-family: "Archivo Black", sans-serif !important;

}
.ticket{
    display: flex;
    margin-top: 20px;
}

.hell{
    border: 0.5px solid rgba(128, 128, 128, 0.308);
   height: 50px;
   display: flex !important;
   justify-content: flex-start;
   align-items: center;
   gap: 16px    ;
   border-radius: 5px;
   padding-left: 10px;
   color: rgba(0, 0, 0, 0.737);
   
   /* background-color: blueviolet; */
}

.navsec{
    z-index: 10000;
    /* margin-top: 60px; */
}
.bottom{
    background-image: url(pexels-wendywei-1190298.jpg);
    background-size: cover;
    min-height:100%;
    background-repeat: no-repeat;
    overflow: hidden;
    
  
 
}

